/* GENERAL */
body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, purple, cyan);
    color: white;
}

/* NAVBAR */
nav {
    background: black;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #00d4ff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #00d4ff;
}

/* HERO SECTION */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* BUTTON */
.button {
    background: #00d4ff;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* SECTIONS */
section {
    padding: 60px;
    text-align: center;
    background: transparent;
}

/* GAME CARDS */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-box {
    background: rgba(0,0,0,0.4);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.feature-box:hover {
    transform: scale(1.05);
    background: rgba(0,0,0,0.7);
}



